html {
    scroll-behavior: smooth;
  }

/* FOOTER GLOBAL OVERRIDES - Force visibility */
.site-footer,
.site-footer * {
    color: #ffffff !important;
    background-color: transparent !important;
}

.site-footer .footer-main {
    background-color: #1a365d !important;
}

.site-footer .footer-bottom {
    background-color: #142d4c !important;
}

.site-footer a,
.site-footer ul li a,
.site-footer .footer-section a,
.site-footer .footer-section ul li a {
    color: #ffffff !important;
    background: none !important;
    background-color: transparent !important;
}

.site-footer .contact-info a {
    color: #ed8936 !important;
}

.site-footer a:hover,
.site-footer ul li a:hover {
    color: #ed8936 !important;
}

nav a{
    color: white;
}
.header{
    background-image: url(/img/temp.jpg);
    background-repeat: no-repeat;
}
.colorpick{
    color:rgb(57, 21, 105);
}
.first-bdr{
    border-left: 5px solid orangered;
}
.third-bdr{
    border-left: 5px solid #007BFF;
}
.sizer {
    font-size: 15px;
    
}
.wrap{
    white-space: nowrap;
}
.second-bdr{
    border-left: 5px solid rgb(125, 31, 153);
    color:rgb(125, 31, 153);
}
.span1{
    color: rgb(125, 31, 153);
}
.sizer3{
   width: 26rem;
}
.sizer-5{
    width: 20px;
    border: 1px solid black;
}
.links{
    color: rgb(66, 59, 59);
}
a:link { 
    text-decoration:none; 
} 
a:hover { 
    text-decoration: none; 
} 
footer{
    height: 70px;
    margin-top: 50px;
}
.para-footer{
    color: white;
    font-size: 0.85rem;
    padding-top: 12px;
}
.para-footer1{
    color: white;
    font-size: 0.85rem;
    color: rgba(157, 162, 167, 0.856);   
}
.size{
    width: 48%;
}
.image-size{
    width:  100%;
    height: 100%;
    width:  100%;
    width:  100%;
}
.table2{
    display: none;
}
.table3{
    display: none;
}
.image-size1{
    height:150px;
    width: 150px;
}
.h1{
    height: 250px;
}
.text{
    margin-left: 260px;
}
.img1{
    background-image: url(/img/chancellor.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.img2{
    background-image: url(/img/vice.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.img3{
    background-image: url(/img/principal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.img4{
    background-image: url(/img/DrShankarKS.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.img5{
    background-image: url(/img/ramakrishna.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.img6{
    background-image: url(/img/lm_nayak.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.img7{
    background-image: url(/img/anarghya.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.img8{
    background-image: url(/img/manjaiah.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.img9{
    background-image: url(/img/dr-parameshachari-b-d.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.img10{
    background-image: url(/img/Ramachandra.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.img11{
    background-image: url(/img/gangadharan.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.imgQR{
    background-image: url(/img/qrcode.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 195px;
    margin-bottom: 10px;
}
.pdf{
    margin-left: 120px;
}
.icon-font{
    font-size: 230%;
    transition: 3s ease-in-out;
}
.icon-font:hover{
    font-size: 240%;
    transition: 1s ease-in-out;
}
.fontsl{
    font-size: 20px;
}
.fontsmy{
    font-size: 10px;
}
.wraped{
    height: 280px;
}
@media(max-width:575px){
    .sizer3{
        width: 28rem;
        font-size: 15px;
     }
     .font1{
        font-size: 16px;
    }
    .font2{
        font-size: 15px;
    }
    .font3{
        font-size: 14px;
    }
    .font4{
        font-size: 13px;
    }
    .font5{
        font-size: 5px;
    }
}
@media(max-width:767px){
    .sizer3{
        width: 17.5rem;
     }
     .size{
        width: 40rem;
    }
    .table1{
        display: none;
    }
    .table2{
        display: block;
    }
    .table3{
        display: block;
    }
    .head1-hide{
        display: none;
    }
    .dropdown-item{
        line-height: 35px;
    }
    .font1{
        font-size: 32px;
    }
    .font2{
        font-size: 30px;
    }
    .font3{
        font-size: 26px;
    }
    .font4{
        font-size: 24px;
    }
    .font4{
        font-size: 22px;
    }
    .font4{
        font-size: 21px;
    }
    .font5{
        font-size: 20px;
    }
    .font6{
        font-size: 19px;
    }
    .font7{
        font-size: 18px;
    }
    .font8{
        font-size: 17px;
    }
    .font9{
        font-size: 16px;
    }
    .font10{
        font-size: 15px;
    }
}

/* =============================================
   FOOTER FINAL OVERRIDES - HIGHEST PRIORITY
   ============================================= */
footer.inspire-footer,
footer.inspire-footer *,
.inspire-footer,
.inspire-footer * {
    color: #ffffff !important;
    opacity: 1 !important;
    visibility: visible !important;
}

footer.inspire-footer a,
footer.inspire-footer ul li a,
footer.inspire-footer .footer-column ul li a,
.inspire-footer a,
.inspire-footer ul li a,
.inspire-footer .footer-column ul li a {
    color: #ffffff !important;
    text-decoration: none !important;
    opacity: 1 !important;
    visibility: visible !important;
}

footer.inspire-footer .footer-contact-details a,
.inspire-footer .footer-contact-details a {
    color: #ed8936 !important;
}

footer.inspire-footer a:hover,
footer.inspire-footer ul li a:hover,
.inspire-footer a:hover,
.inspire-footer ul li a:hover {
    color: #ed8936 !important;
}


